body {
  font-size: 25px;
  text-aling:center;
  font-family: Verdana, Arial, sans-serif;
  background-color: rgb(169, 240, 196);
 
}

h1 {
  background-color: blue;
  padding: 1.1em;
  color: white;
  /*text-align:center;*/
}

h2 {
  background-color:darkred;
  padding:.2;
  color:blue;
  text-align:center;
  
li{
  flex-content: center;
  background-color:darked;
  width:30px;
  color:white;
}
  .list{
    color:white;
    background-color:darkred;
  }
