body {
        font-family: 'Helvetica Neue', 'Segoe UI', sans-serif;
        line-height: 1.4;
        background-color: rgb(169, 240, 196);
    }
    
    .flex {
        background-color: rgb(255, 102, 0);
        text-align: center;
        margin-top: .5px;
        color: white;
        size: 20px;
        padding:20;
    }
#text-flex{
        size:15px;
}
#json{
        padding:15px;
}
    
    h1 {
        text-align: center;
        color: white;
        size: 25px;
        padding:25px;
        background-color: rgba(24, 168, 24, 0.479);
    }
    
    .appearance {
        width: 160px;
        height: 40px;
        size: 20px;
        border-radius: 3px;
        box-shadow: #16187c;
    }
    
    button {
        background-color: rgb(255, 102, 0);
        color: white;
        width: 90px;
        height: 40px;
        border-radius: 3px;
        box-shadow: #16187c;
    }
    
    .flyaway:hover {
        background-color: #16187c;
        color: white;
         
    }
 #flyaway {
        transition: all 2s ease-in;
    }
    .flownaway{
        transform:  translateX(3000px);
    }
    #innerflyaway{
        background: #85C1E9;
        padding: 3px;
        border-radius: 2px;
        transition: all 2s;
    }
    .spin{
        transform: rotate(720deg);
    }
    .flewaway{
        background: darkred;
        padding: 3px;
        border-radius: 2px;
        transition: all 2s;
    }

    header {
    align-content: center;
    background-color:  #ecde19;
}

   .grid-container {header {
    align-content: center;
    background-color: #df7cd7;
}
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: #2196F3;
    padding: 5px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 5px;
    text-align: center;
}
