body {
        font-family: 'Helvetica Neue', 'Segoe UI', sans-serif;
        line-height: 1.4;
        background-color: rgb(169, 240, 196);
    }
    
    .flex {
        background-color: rgb(255, 102, 0);
        text-align: center;
        margin-top: .5px;
        color: white;
        size: 20px;
        padding:20:
    }
    
    h1 {
        text-align: center;
        color: white;
        size: 20px;
        padding:30px;
        background-color: rgba(24, 168, 24, 0.479);
    }
    
    input {
        width: 150px;
        height: 70px;
        size: 25px;
        border-radius: 3px;
        box-shadow: #16187c;
    }
    
    button {
        background-color: rgb(255, 102, 0);
        color: white;
        width: 60px;
        height: 40px;
        border-radius: 3px;
        box-shadow: #16187c;
    }
    
    .flyaway:hover {
        background-color: #16187c;
        color: white;
    }
   
