body {
    margin: 0;
    padding: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
  }
  main > h1 {
    size:50px;
    text-align: center;
    background-color: rgba(32, 179, 32, 0.986);
    padding: 1.5em;
    margin-top: 0;
    margin-bottom: -0.5em;
  }
  img {
    max-width: 100%;
    border-radius: 20px;
  }
  .styles {
    padding: 0;
    margin: 1em 0;
    list-style-type: none;
  }
  .styles div {
    padding: 0 0.7em;
  }
  .styles li > h2 {
    text-align: center;
    background-color: rgb(180, 177, 91);
    margin-bottom: 0.9em;
    padding: .4em;
      
  }

  .light {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .light > h2 {
    width: 100%;
    flex: 1 0 auto;
  }

  .light > div {
    width: 40%;
    margin-left: 1em;
    flex: 1 1 auto;
  }
  .light h3 {
    margin-bottom: -0.5em;
  }
