.board {
    width: 500px;
    height: 500px;
  }
  .board td,
  .board tr {
    width: 35%;
    height: 35%;
  }
  .board td {
    border-right: 2px solid;
    border-bottom: 2px solid;
    font-size: 5em;
    text-align: center;
  }

  .board td:last-child {
    border-right: 0;
  }

  .board tr:last-child td {
    border-bottom: 0;
  }

  /* Styles for the div based board */
  .divBoard {
    display: grid;
    grid-template-columns: 150px 150px 150px;
    grid-template-rows: 150px 150px 150px;
    justify-content: center;
  }
  .divBoard > div {
    /* border-right: 1px solid;
    border-bottom: 1px solid; */
    border: 2px solid;
    font-size: 5em;
    text-align: center;
  }
  /* .divBoard > div:nth-child(3n) {
    border-right: 0;
  }
  .divBoard > div:nth-child(n + 7) {
    border-bottom: 0;
  } */

body {
    color: rgba(0, 0, 255, 0.397);
    background-color: lightblue;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    color: blue;
    font-size: 30px;
    margin-bottom: 0;
    text-transform: uppercase;
}
button{
    background-color: rgb(114, 132, 231);
    font-size: 15px;
    border: 3px solid;
    padding: 15px;
    
}


/*.container {
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}*/

/*#board {
    width: 100px;
    font-display: flex;
    flex-wrap: wrap;
    font-size: 100px;
    margin-top: 40px;
}

.box {
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text);
}

#restart {
    padding: 5px 10px;
    background-color: rgb(143, 26, 26);
    border: none;
    border-radius: 15px;
    color: white;
    font-size: 10px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
}*/